.span-links-projeto a{
  text-decoration: none;
  border-bottom: 3px solid blue;
}
.span-links-projeto a:hover{
  color: white;
}
.container-aside{
  height: 100%;
  display: flex;
  align-items: center;
  width: 40%;
  margin-right: 10%;
  
}
@media (max-width: 900px){
  .container-aside{
    width: 70%;
    margin-right: 0px;
    text-align: center;
  }
}